DISCORD_BOT_ID=123
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
DISCORD_GUILD_ID=
NOTIFICATION_CHANNEL_ID=123
NOTIFICATION_ROLE_ID=1492260885945647256
NOTIFICATION_DISPATCH_CACHE_FILE=data/notification-dispatch-cache.json
HOURLY_NOTIFICATION_ROLE_ID=1492882482016817265
REPORT_VEHICLE_ACTIVITY_CHANNEL_IDS=
REPORT_ARREST_CHANNEL_IDS=
REPORT_INTERROGATION_CHANNEL_IDS=
REPORT_SEARCH_CHANNEL_IDS=
REPORT_NEGOTIATION_CHANNEL_IDS=
REPORT_TRUCK_BATTLE_CHANNEL_IDS=
REPORT_HOSTAGE_RESCUE_CHANNEL_IDS=
REPORT_AIRCRAFT_CARRIER_DEFENSE_CHANNEL_IDS=
REPORT_SUPPLY_CHANNEL_IDS=
REPORT_PLANE_CRASH_CHANNEL_IDS=
REPORT_AUTO_RUN_DELAY_MINUTES=5
USER_DATA_ADMIN_ROLE_ID=
USER_DATA_FILE=data/users.json
TZ=Europe/Kyiv
TEST_NOTIFICATION_ENABLED=false
TEST_NOTIFICATION_DAY=7
TEST_NOTIFICATION_TIME=18:00
TEST_NOTIFICATION_TEXT=Бот успішно відправив тестове сповіщення.
