DISCORD_BOT_ID=123
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
DISCORD_GUILD_ID=
NOTIFICATION_CHANNEL_ID=123
NOTIFICATION_ROLE_ID=1492260885945647256
TZ=Europe/Kyiv
TEST_NOTIFICATION_ENABLED=false
TEST_NOTIFICATION_DAY=7
TEST_NOTIFICATION_TIME=18:00
TEST_NOTIFICATION_TEXT=Бот успішно відправив тестове сповіщення.
